{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block cssblock %}
<link rel='stylesheet' href='{{ STATIC_URL }}css/messenger.css'/>
<link rel='stylesheet' href='{{ STATIC_URL }}css/messenger-theme-flat.css'/>
{% endblock %}
{% block javascriptblock %}
<script src='{{ STATIC_URL }}js/messenger.min.js'></script>
<script>
Messenger.options = {
    extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
    theme: 'flat'
}</script>
<script src="{{ STATIC_URL }}js/change_password.js"></script>
{% endblock %}

{% block body %}

{% include "_nav_bar.html" %}
<div class="container">

<div class="container col-md-offset-4 col-md-4">
    <form class="form-register" id="changepwd_form" action="{% url 'change_password' %}" method='POST'>
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control input-lg" id="username" name="username" maxlength=20>
        </div>
        <div class="form-group">
            <label for="old_password">Old Password</label>
            <input type="password" class="form-control input-lg" id="old_password" name="old_password" maxlength=20>
        </div>
        <div class="form-group">
            <label for="new_password">Nwe Password(length >= 6)</label>
            <input type="password" class="form-control input-lg" id="new_password" name="new_password" maxlength=20>
        </div>
        <div class="form-group">
            <label for="confirm_new_password">Password Confirmation</label>
            <input type="password" class="form-control input-lg" id="confirm_new_password" name="confirm_new_password" maxlength=20>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block col-sm-4" id="changepwd_submit">Submit</button>
        <a href="/login/">Login</a>
    </form>
</div>
</div>

{% endblock %}