{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block cssblock %}
<link rel='stylesheet' href='{{ STATIC_URL }}css/messenger.css'/>
<link rel='stylesheet' href='{{ STATIC_URL }}css/messenger-theme-flat.css'/>
{% endblock %}
{% block javascriptblock %}
<script src='{{ STATIC_URL }}js/messenger.min.js'></script>
<script>
Messenger.options = {
    extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
    theme: 'flat'
}
</script>
<script src="{{ STATIC_URL }}js/register.js"></script>
{% endblock %}

{% block body %}

{% include "_nav_bar.html" %}
<div class="container">
    {% include "account/_register_form.html" %}
</div>
{% endblock %}