{% extends "base.html" %}
{% block title %}My projects{% endblock %}

{% block body %}
{% include "_nav_bar.html" %}
<div class="container">
    <div class="my_project">
        <h3>My projects</h3>
        <span class="glyphicon glyphicon-cog"></span><a href="/create_project/">Create project</a>
        <hr/>
        <div class="panel-body">
            {% if not projects %}
                <p>No projects, you can <a href="/create_project/">create a project.</a></p>
            {% else %}
                {% for project in projects reversed %}
                    <div class="project">
                        <p><span class="badge">{{ forloop.counter }}</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Title:<a href="/project/?id={{ project.id }}">{{ project.title }}</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        Create time:{{ project.create_time|date:"Y-m-d H:i:s" }}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        Cookie number:{{ project.records.all|length }}</p>
                        <hr/>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}